{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Фото Метаданные{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <header>
        <h1>Photo Metadata</h1>
        <nav>
            <ul>
                <li><a href="{% url 'photometadata:index' %}">Домой</a></li>
                <li><a href="{% url 'photometadata:list_files' %}">Список файлов</a></li>
            </ul>
        </nav>
    </header>
    
  <div class="messages">
    {% for m in messages %}
      <div class="{{ m.tags }}">{{ m }}</div>
    {% endfor %}
  </div>

  <main>
        {% block content %}{% endblock %}
  </main>
</body>
</html>
